ENV 
db.sqlite3 
authentication/migrations/__pycache__/__init__.cpython-311.pyc
authentication/migrations/__pycache__/0001_initial.cpython-311.pyc
blog/__pycache__/__init__.cpython-311.pyc
blog/__pycache__/admin.cpython-311.pyc
blog/__pycache__/apps.cpython-311.pyc
blog/__pycache__/models.cpython-311.pyc
blog/migrations/__pycache__/__init__.cpython-311.pyc
fotoblog/__pycache__/settings.cpython-311.pyc
fotoblog/__pycache__/urls.cpython-311.pyc
authentication/__pycache__/__init__.cpython-311.pyc
authentication/__pycache__/admin.cpython-311.pyc
authentication/__pycache__/apps.cpython-311.pyc
authentication/__pycache__/models.cpython-311.pyc
fotoblog/__pycache__/settings.cpython-311.pyc
authentication/migrations/0001_initial.py
fotoblog/__pycache__/settings.cpython-311.pyc
fotoblog/__pycache__/settings.cpython-311.pyc
fotoblog/__pycache__/fotoblog/__pycache__/settings.cpython-311.pyc
settings.cpython-311.pyc
authentication/__pycache__/views.cpython-311.pyc
authentication/__pycache__/forms.cpython-311.pyc
fotoblog/__pycache__/wsgi.cpython-311.pyc
fotoblog/__pycache__/settings.cpython-311.pyc
blog/__pycache__/views.cpython-311.pyc
fotoblog/__pycache__/settings.cpython-311.pyc
